#label1, #label2, #label3, #label4 {
	font-size: 18px;
	text-align: center;
}

.labels {
	text-align: center;
	font-size: 16px;
}

td#parentTable1 {
	box-shadow: -3px -3px 18px 1px rgba(43,41,43,1);
}

td#parentTable2 {
	box-shadow: 4px -3px 18px 1px rgba(43,41,43,1);
}

td#parentTable3 {
	box-shadow: -3px 4px 18px 1px rgba(43,41,43,1);
}

td#parentTable4 {
	box-shadow: 3px 4px 18px 1px rgba(43,41,43,1);
}

body {
  padding: 50px;
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  margin: 0;
  background-image: url("../images/background-image2.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

p {
	font-weight: bold;
}
h6 {
	padding-left: 10px;
	color: gray;
}
header{
	border-radius: 10px 10px 0px 0px;
}

footer{
	border-radius: 0px 0px 10px 10px;
}
.red {
    background-color: #FF7F7F;
}

.green {
    background-color: #7FFFC5;
}

.icon-ellipsis-vertical{
font-size:30px; 
color:#e6e6e6; 
background-image: url("../images/background-image2.jpg");	
}

.modalTextbox { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:45px; 
    width: 425px; 
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
   }   

.modalButton {
	-moz-box-shadow:inset 0px 0px 14px -3px #ffffff;
	-webkit-box-shadow:inset 0px 0px 14px -3px #ffffff;
	box-shadow:inset 0px 0px 14px -3px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c7c3c7));
	background:-moz-linear-gradient(top, #ededed 5%, #c7c3c7 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #c7c3c7 100%);
	background:-o-linear-gradient(top, #ededed 5%, #c7c3c7 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #c7c3c7 100%);
	background:linear-gradient(to bottom, #ededed 5%, #c7c3c7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#c7c3c7',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
}
.modalButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7c3c7), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #c7c3c7 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #c7c3c7 5%, #ededed 100%);
	background:-o-linear-gradient(top, #c7c3c7 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #c7c3c7 5%, #ededed 100%);
	background:linear-gradient(to bottom, #c7c3c7 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c3c7', endColorstr='#ededed',GradientType=0);
	background-color:#c7c3c7;
}
.modalButton:active {
	position:relative;
	top:1px;
}